
<h2>All Recipes</h2>
<div class="container">
  <div class="row row-cols-auto">
    <% @recipes.each do |recipe| %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <%= link_to recipe_path(recipe.id) do %>
          <%= image_tag recipe.image_url, class: "card-img-top" %>
          <div class="card-body">
            <p class="card-text"><%= recipe.title %></p>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container d-flex flex-wrap justify-content-center py-3 mt-4 border-top">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
