{"http_interactions":[{"request":{"method":"get","uri":"https://cdn.contentful.com/spaces/kk2bw5ojx476/environments/master/entries?content_type=recipe&limit=2&skip=6","body":{"encoding":"UTF-8","string":""},"headers":{"X-Contentful-User-Agent":["sdk contentful.rb/2.16.2; platform ruby/3.1.0; os macOS/19;"], "Authorization":["Bearer 7ac531648a1b5e1dab6c18b0979f822a5aad0fe5f1109829b8a197eb2be4b84c"], "Content-Type":["application/vnd.contentful.delivery.v1+json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/vnd.contentful.delivery.v1+json"], "Contentful-Api":["cda"], "Etag":["\"1829108351878777757\""], "X-Contentful-Region":["us-east-1"], "X-Contentful-Route":["/spaces/:space/environments/:environment/entries"], "Contentful-Cache":["MISS"], "X-Contentful-Request-Id":["2ca79892-51dd-4213-96f7-2b760d701f86"]},"body":{"encoding":"ASCII-8BIT","string":"{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 0,\n  \"skip\": 6,\n  \"limit\": 2,\n  \"items\": []\n}\n"}},"recorded_at":"Sun, 09 Jan 2022 10:38:40 GMT"}],"recorded_with":"VCR 6.0.0"}